html{
	background:#a8b6ff;
}
header  { 
	background:#2c64cc;
	padding: 20px;
	
}
.caixa{
	position:relative;
	width: 1300px;
	margin: 0 auto;
}

nav li{
	display: inline;

}
nav ul{position: absolute;
	    top: 145px;
	    right: 200px;


}
nav a {
	
	text-transform: uppercase;
	font-weight:bold;
	color: #000000;
	font-size: 25px;
	text-decoration: none;
	margin: 0 0 0 20px;
	
}

nav a:hover {
	color: #a5dae4;
	text-decoration: underline;
	font-size: 32px;
}
.logo{
	height: 300px;
	width: 300px;
	border: 10px solid #a0a1a1e8;
	border-radius: 20px;
    }

li{
   text-align: center;
   
}    

.serviços{
	
	width: 1300px;
	margin: 0 auto;
	padding: 50px;
	
}

.serviços li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	background: #aaaabb;
	margin:0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 5px solid #000000;
	border-radius: 20px;
}
.serviços li:hover{
	border-color: #c78c19;
	font-size: 35px;
}
.serviços li:active{
	border-color: #088c19;
}
.serviços li:hover h2{
	font-size: 40px;
}
.serviços h2{
	font-size: 30px;
	font-weight: bold;
}
.serviço-descrição{
	font-size: 20px;
}
.serviço-preço{
	font-size: 25px;
	font-weight: bold;
	 margin-top: 10px;
}
img{
	height: 300px;
	width: 300px;
}
footer{
	text-align: center;
	font-size: 25px;
	margin-top: 100px;
}
footer p{
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 35px;
}
#final{
	height: 300px;
	width: 1950px;
	
}